<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to listing.title, listing_path( :id => listing.id ) %>
    </h4>
      <img src="<%= listing.picture %>">
      <p><%= listing.asking_price %></p>
  </div>
</div>