<section id="marketplace">
  <div class="container">
    <div class="row">
      <div class="listing-content">
        <div class="well">
          <h1>Listings</h1>
          <%= render @listings %>
        </div>
      </div>
    </div>
  </div>
</section>