<div class="container">
    <div class="row">
      <div class="listing-content">
        <div class="well">
          <%= render partial: "listings/listing", collection: @listings %>
        </div>
      </div>
    </div>
  </div>