<div id="landing">
  <div id="landing-caption">
    <h1 class="display-3">FlipBuy</h1>
    <p>You want it, they sell it.</p>
    <%= button_to('Get Started', new_user_registration_path, :method => :get, :class => 'btn btn-large btn-success') %>
  </div>
</div>
