<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= bid.user.username %>
    </h4>
      <p><%= bid.price %></p>
      <p><%= image_tag bid.image.url(:med) %></p>
      <p><%= bid.comment %></p>
  </div>
</div>